
<mat-accordion>
  <mat-expansion-panel hideToggle> </mat-expansion-panel>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-description> Wybor produktow </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card *ngFor="let item of dataArray | keyvalue; index as i " (click)=elo(dataArray[item.key])>{{dataArray[item.key].name}} 
      <mat-card-actions> 
        <mat-icon svgIcon="question" aria-hidden="false" aria-label="This is the SVG icon"></mat-icon>
        </mat-card-actions>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
